<div class="jumbotron">
    <h1 class="display-4">
        <%=@car.title %>

    </h1>
    <p class="lead">
        <%= @car.title %> |
        <%= @car.typeCar %> |
        <%= @car.color %>

    </p>
    <br />




</div>
<%= link_to 'Edit', edit_car_path(@car), class:"btn btn-secondary" %>
<%= link_to 'Back', cars_path, class:"btn btn-dark" %>